/* Coolors Exported Palette - coolors.co/253031-d61e11-477998-ffc4d1-eee5e9 */

/* HSL */
$color1: hsla(185%, 14%, 17%, 1);
$color2: hsla(4%, 85%, 45%, 1);
$color3: hsla(203%, 36%, 44%, 1);
$color4: hsla(347%, 100%, 88%, 1);
$color5: hsla(333%, 21%, 92%, 1);

/* RGB */
$color1: rgba(37, 48, 49, 1);
$color2: rgba(214, 30, 17, 1);
$color3: rgb(96, 139, 165);
$color4: rgba(255, 196, 209, 1);
$color5: rgba(238, 229, 233, 1);