@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Appointments management system</h1>
    <p class="lead">Simple and powerful app that lets you book an appointment to a doctor you choose! You can select and filter the specialities
        or clinics. All you need is to sign up!<p>
</div>

